@import url("https://fonts.cdnfonts.com/css/thegoodmonolith");
@import url('https://fonts.cdnfonts.com/css/montserrat');
@mixin flex($direct: row, $align: center, $justify: center, $wrap: no-wrap, $gap: 0) {
  display: flex;
  flex-direction: $direct;
  align-items: $align;
  justify-content: $justify;
  flex-wrap: $wrap;
  gap: $gap;
}
@mixin font($size: 20px, $weight: 500, $color: #ffffff) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
  font-style: normal;
  line-height: normal;
}

* {
  margin: 0;
  box-sizing: border-box;
  // font-family: "TheGoodMonolith", sans-serif;
  font-family: 'Montserrat', sans-serif;
}
.container {
  margin: 0 auto;
  max-width: 1440px;
}
header,
main,
footer {
  width: 100%;
}
a {
  text-decoration: none;
  @include font(22px, 600, #E9ECEF);
}
ul {
  @include flex($justify: start, $gap:30px);
  list-style: none;
  padding: 0;
}

/* Header */
header{
  background: #343A40;
  padding: 17px 0;
}
.header__wrapper{
  padding-left: 117px;
}